.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 400px;
}

.about-image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: 5px;
  border-radius: 100px;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.about-text {
  padding-bottom: 15px;
  margin: 0px 15px;
}

.about-link {
  margin-right: 5px;
}

.about-links-container {
  display: flex;
  justify-content: center;
}
