.large-card {
  padding: 20px;
  margin-bottom: 20px;
  width: 80vw;
  height: 550px;
  background-color: #F8F2EE;
  display: grid;
  grid-template-areas:
    "img nav nav"
    "img main main"
    "img foot foot-table";
}

.large-card-nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  /* height: 30px; */
  /* align-items: center; */
}

.large-card-image {
  grid-area: img;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.large-card-main {
  grid-area: main;
  display: flex;
  /* justify-content: ; */
  /* height: 100%; */
}

.large-card-foot {
  grid-area: foot;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5px 20px;
}

.large-card-table-foot {
  grid-area: foot-table;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.event-image-format {
  max-height: 500px;
  max-width: 400px;
  object-fit: cover;
  margin: 10px;
}

td, th {
  border: 1px solid #CCC;
  padding: 5px;
}

.table {
  width: 100%;
}

.right {
  display: flex;
  flex-direction: column;
}

.transparent, .transparent:hover {
  color: transparent;
  text-decoration: none;
}

/********* mobile *******************/
@media screen and (max-width: 700px) {
  /* button {
    background-color: red;
  } */
  .large-card {
    padding: 20px;
    margin-bottom: 20px;
    width: 100vw;
    height: 100vh;
    background-color: #F8F2EE;
    display: grid;
    grid-template-areas:
    "img"
    "main"
    "nav"
    "foot";
  }

  .large-card-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .large-card-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .large-card-main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .large-card-foot {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
