/* TODO Add site wide styles */
html, body, input, textarea, button, select, a {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

body {
  background: url(../public/images/wide-dinner.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* placement.jpeg */

.overlay {
  background-color: #f8f2eec1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

.button,
button {
  border: 0;
  background: transparent;
  font-weight: 700;
  padding: .5em 1em;
  transition: background-color .25s, color .25s;
  margin: .5em .5em .5em 0em;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover,
button:hover {
  /* background-color: teal; */
  text-decoration: underline;
  text-decoration-color: teal;
  text-decoration-thickness: 2px;
  /* border: 2px solid teal; */
  /* color: white; */
}

main {
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
/* #EDABA2 #F8F2EE #6EA3A3 #006767 #004D4D */
form {
  flex: 0 0 400px;
  width: 300px;
  background-color: #f8f2ee;
  padding: 20px;
  margin: 20px;
}

h1 {
  font-weight: 400;
}

label {
  color: #CCC;
  font-size: 12px;
}

input {
  border: 1px solid #CCC;
  box-sizing: border-box;
  display: block;
  outline: 0;
  padding: .25em .5em;
  margin: 0em .25em .25em 0em;
  width: 100%;
  justify-content: center;
  align-items: center;
}

input:focus {
  /* background-color: #f8f2eecc; */
  border-bottom: 2px solid #CCC;
}

nav {
  flex: 0 0 300px;
  overflow-y: auto;
}

nav a {
  color: inherit;
  text-decoration: none;
}

select {
  width: 100%;
  margin-top: 10px;
  padding-left: 4px;
}

.error {
  color: red;
  min-height: 24px;
  min-width: 360px;
  margin: 0 0 10px 0;
  padding: 0 8px;
}

@media screen and (min-width: 1000px) {
}

@media screen and (max-height: 800px) {
}

/* mobile */
@media screen and (max-width: 560px) {
  /* button {
    background-color: red;
  } */
}
