/* Colors #EDABA2 #F8F2EE #6EA3A3 #006767 #004D4D */

html, body, input, textarea, button, select, a {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  color: #004D4D;
  font-size: .8em;
}

h3 {
  font-size: 1em;
}

h2 {
  font-size: 1.6em;
}

h1 {
  font-weight: 400;
  font-size: 1.8em;
}

ul {
  list-style-type: none;
}

.teal {
  color: #004D4D;
  font-size: .8em;
  font-weight: bold;
  padding-top: 10px;
}

.error {
  color: red;
  margin: 0 0 10px 0;
  font-size: 12px;
  list-style: disc;
}

.center {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.page-content {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.large-card, form, .card, .splash-card, .large-card-seating {
  box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.25);
}

/************** app background *************/
body {
  background: url(../public/images/wide-dinner.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #f8f2eec1;
  top: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}

/************ forms and buttons ************/
.submit-button,
.teal-button,
form > button {
  border: 0;
  background: #6EA3A3;
  font-weight: 700;
  padding: .5em 1em;
  transition: background-color .25s, color .25s;
  margin: .5em .5em .5em 0em;
  color: white;
  text-decoration: none;
  border-radius: 3px;
}

.button-margin {
  margin: .5em .0em .5em .5em;
}

.submit-button:hover,
form > button:hover {
  background-color: teal;
  color: white;
}

main {
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

form {
  flex: 0 0 400px;
  width: 290px;
  background-color: #f8f2ee;
  padding: 40px;
  margin: 20px;
}

label {
  color: #CCC;
  font-size: 12px;
}

input, input[type=date], textarea, .input {
  border: 1px solid #CCC;
  box-sizing: border-box;
  display: block;
  outline: 0;
  padding: .25em .5em;
  margin: 0em .25em .25em 0em;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #6EA3A3;
  font-size: 12px;
}

/* input:focus  {
  background-color: #f8f2eecc;
  border-bottom: 2px solid #CCC;
} */

textarea::placeholder,
input[type=date]::placeholder,
input::placeholder {
  color: #CCC;
  font-size: 12px;
}

select {
  width: 100%;
  margin-top: 10px;
  padding-left: 4px;
}

.form-errors {
  color: red;
  font-size: .8rem;
}

/********* large screens ************/
@media screen and (min-width: 1200px) {
  /* button {
    background-color: yellow;
  } */
}

/********* horizontally narrow ******/
@media screen and (max-height: 670px) {
  /* button {
    background-color: blue;
  } */
}

/********* mobile *******************/
@media screen and (max-width: 600px) {
  /* button {
    background-color: red;
  } */

  .overlay {
    width: 500px;
  }
}
