.splash-button {
  width: 100%;
}

.space {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 12px;
  font-size: 15px;
}

.splash-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 5vh;
  margin-left: 40vw;
}

/* .page-content {
  all: unset;
  height: 100vh;
  color: red;
} */

/********* large screens ************/
@media screen and (min-width: 1200px) {
  /* button {
    background-color: yellow;
  } */
}

/********* horizontally narrow ******/
@media screen and (max-height: 670px) {
  /* button {
    background-color: blue;
  } */
}

/********* mobile *******************/
@media screen and (max-width: 770px) {
  .splash-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw;
    margin-left: 4vw;
  }

  form {
    width: 290px;
    padding: 20px;
  }
}
