.profile-button {
  height: 40px;
  width: 40px;
  padding: 5px;
}

.profile-button:hover {
  color: teal;
  background: none;
}

nav .profile-dropdown {
  display: block;
}

.profile-dropdown > li {
  text-align: end;
}

.profile-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 10px;
}

.home-and-profile-container {
  display: flex;
}

.unset {
  all: unset;
}

/* #EDABA2 #F8F2EE #6EA3A3 #006767 #004D4D */
.navbar {
  /* background-color: #f8f2ee89; */
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: fixed;
}

.logo {
  height: 50px;
  width: 50px;
  /* background-color: #6EA3A3; */
  border-radius: 25px;
}

.guestly {
  font-family: 'Cookie';
  font-size: 28px;
  padding: 0em .5em;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
}

/* font-family: 'Cookie', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif; */
.nav-button {
  border: 0;
  background: transparent;
  font-weight: 700;
  padding: .5em 1em;
  transition: background-color .25s, color .25s;
  margin: .5em .5em .5em 0em;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  display: flex;
}

.nav-button:hover {
  text-decoration: underline;
  text-decoration-color: teal;
  text-decoration-thickness: 2px;
}

/* search */
.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.search-input {
  all: unset;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #CCC;
  box-sizing: border-box;
  outline: 0;
  padding: .25em .5em;
  margin: 0em .25em .25em 0em;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #6EA3A3;
  font-size: 12px;
}
