.profile-button {
  border: 0;
  background: none;
  font-weight: 700;
  padding: 0em;
  transition: background-color .25s, color .25s;
  margin-left: .5em;
  margin-right: .5em;
}

.profile-button:hover {
  color: teal;
  background: none;
}

/* #EDABA2 #F8F2EE #6EA3A3 #006767 #004D4D */
.navbar {
  background-color: #f8f2ee89;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}
