.profile-button {
  border: 0;
  background: none;
  font-weight: 700;
  padding: 0em;
  transition: background-color .25s, color .25s;
  margin-left: .5em;
  margin-right: .5em;
}

.profile-button:hover {
  color: teal;
  background: none;
}
