.calendar-container {
  display: flex;
  justify-content: center;
}

.card {
  flex-wrap: wrap;
}

div.react-calendar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.react-calendar__navigation {
  margin-top: 20px;
}

.react-calendar__navigation > button {
  padding: 10px 20px;
  border: .5px solid #CCC;
  background-color: transparent;
  transition: background-color .25s, color .25s;
}
/* #EDABA2 #F8F2EE #6EA3A3 #006767 #004D4D */
.react-calendar__navigation > button:hover {
  background-color: #cde5e5;
}

.react-calendar__month-view {
  margin: 20px 0px;
}

/* days of week tiles */
.react-calendar__month-view__weekdays__weekday {
  text-align: center;
  padding: 10px 0px;
}

abbr[title] {
  text-decoration-color: transparent;
}

/* tiles */
.react-calendar__tile {
  transition: background-color .25s, color .25s;
}

div > .react-calendar__tile--now {
  background-color: #ebe2dc;
}

div > .react-calendar__tile--active:enabled:hover {
  background-color: teal;
  color: white;
}

div > .react-calendar__month-view__days__day--weekend {
  color: teal;
}

.calendar-event-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.calendar-event-info {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  margin-top: 0px;
}
